<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
<<<<<<< HEAD

body {
  margin: 0;
  font-family: monospace;
=======
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #000;
  color: white;
>>>>>>> e7779e491c30cadc9ea5092e7302c9177f43fff1
}
>>>>>>> 865297188b33778ee0043fc41823c9663ae65614
